node_modules
.output
.vercel
.netlify
.wrangler
.svelte-kit
build
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
!.env.test
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
generated
src/generated
.github
.mastra
data
.git
*.tar
*.tar.gz
bottlecrm-api.tar
bottlecrm-api.tar.gz
